<label>Server Name</label>
<input type="text"
       class="form-control"
       (input)="onUpdateServerName($event)"
       [(ngModel)]="serverName">
<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">
    Add Server
</button>
<!-- *ngIf is the following:
<ng-template [ngIf="isServerCreated"]>
    // ...
</ng-template>
-->
<p *ngIf="isServerCreated" style="background-color: turquoise">Server was created, server name is {{serverName}}</p>
<div *unless="isServerCreated"><p highlight [defaultColor]="'yellow'" [highlightColor]="'palevioletred'">No server was
    created!</p></div>

<!--<p *ngIf="isServerCreated; else noserver">Server was created, server name is {{serverName}}</p>-->
<!--<ng-template #noserver> &lt;!&ndash; local reference! &ndash;&gt;-->
<!--<p highlight [defaultColor]="'yellow'" [highlightColor]="'palevioletred'">No server was created!</p>-->
<!--</ng-template>-->